name: build
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build DoomMC
        run: |
          cd mod
          chmod +x ./gradlew
          ./gradlew build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: DoomMC
          path: mod/build/libs/*.jar
