name: Build DoomMC

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x mod/gradlew

      - name: Build DoomMC
        run: ./gradlew build
        working-directory: mod

      - name: Upload DoomMC JAR
        uses: actions/upload-artifact@v4
        with:
          name: DoomMC
          path: mod/build/libs/*.jar
